//Settings
@import 'settings/resets';
@import 'settings/axis';
@import 'settings/lost';
@import 'settings/rupture';
@import 'settings/colors';
//App CSS
@import 'app/main';
@import 'app/navbar';
@import 'app/footer';